.task-card{
    width: 500px;
    margin: 40px;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid rgb(34, 34, 141);
    position: relative;
}
.task{
    font-size: 30px;
}
.description{
    font-size: 23px;
}
.priority{
    display: inline-block;
    padding:2px 15px;
    background-color: rgb(34, 34, 141) ;
    color: aliceblue;
    position: absolute;
    top : -16px ;
    right: 0;
    border-radius: 0 20px 0 0;
}